* {
    font-family: JetBrainsMono Nerd Font ;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    min-height: 0;
    margin: 0px;
}

window#waybar{
    background-color: transparent;
    color: #fbf1c7;
}

#workspaces,
#clock,
#backlight,
#pulseaudio,
#battery,
#network{
    background-color: rgba(21, 23, 26, 0.80);
    margin: 10px 10px 0px;
    border-radius: 5px;
    /* padding: 0px 8px; */
    padding: 4px 12px;
}

#workspaces {
    padding: 4px 4px;
}

#backlight,
#pulseaudio,
#battery,
#network {
    margin-left: 5px;
    margin-right: 5px;
}

#network{
    margin-right: 10px;
}

#workspaces button{
    color: #fbf1c7;
    padding: 0px 8px;
}

#workspaces button.active{
    color: rgba(21, 23, 26, 0.85);
    /* background-color: #fabd2f; */
    background-color: #ebdbb2;
}

#workspaces button.urgent{
    color: #fb4934;
}

#workspaces button.persistent{
    color: #928374;
}


