* {
    font-family: JetBrainsMono Nerd Font ;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    min-height: 0;
    margin: 0px;
}

window#waybar{
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces,
#clock,
#backlight,
#pulseaudio,
#battery,
#network{
    /* background-color: rgba(22, 24, 28, 0.80); */
    /* margin: 10px 10px; */
    /* border-radius: 5px; */
    /* padding: 0px 8px; */
    padding: 4px 0px;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: #3c3836; */
}

#workspaces {
    padding: 4px 4px;
}

#backlight,
#pulseaudio,
#battery,
#network {
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces button{
    color: #ebdbb2;
    padding: 0px 8px;
}

#workspaces button.persistent{
    color: #928374;
}

#workspaces button.active{
    color: rgba(0, 0, 0, 1);
    /* background-color: #fabd2f; */
    background-color: #ebdbb2;
    border-radius: 0;
}

#workspaces button.urgent{
    color: #fb4934;
}



