* {
    font-family: JetBrainsMono Nerd Font ;
    font-weight: bold;
    font-size: 20px;
}

window#waybar{
    background-color: rgba(21, 23, 26, 0.85);
    /* border-bottom: 3px solid #af3a03; */
    color: #fbf1c7;
}


#workspaces button{
    color: #ebdbb2;
    padding: 4px 8px
}


#workspaces button.active{
    color: #fabd2f;
}

#workspaces button.urgent{
    color: #fb4934;
}

#workspaces button.persistent{
    color: #928374;
}

#custom-open,
#custom-close{
    /* color: #ebdbb2; */

    /* color: #fb4934; */
    color: #fe8019;
}

#clock{
    /* padding: 0px 5px; */
    color: #fabd2f;
}

#backlight{
    color: #fb4934;
}

#pulseaudio{
    color: #fabd2f;
}

#battery{
    color: #b8bb26;
}

#network{
    /* padding: 0px 5px; */
    color: #83a598;
}

